JMMClient/Service References/JMMServerBinary/JMMServerBinary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JMMContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JMMContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contract_GroupFilterExtended">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupCount" type="xs:int" />
      <xs:element minOccurs="0" name="GroupFilter" nillable="true" type="tns:Contract_GroupFilter" />
      <xs:element minOccurs="0" name="SeriesCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_GroupFilterExtended" nillable="true" type="tns:Contract_GroupFilterExtended" />
  <xs:complexType name="Contract_GroupFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyToSeries" type="xs:int" />
      <xs:element minOccurs="0" name="BaseCondition" type="xs:int" />
      <xs:element minOccurs="0" name="FilterConditions" nillable="true" type="tns:ArrayOfContract_GroupFilterCondition" />
      <xs:element minOccurs="0" name="GroupFilterID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GroupFilterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortingCriteria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_GroupFilter" nillable="true" type="tns:Contract_GroupFilter" />
  <xs:complexType name="ArrayOfContract_GroupFilterCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_GroupFilterCondition" nillable="true" type="tns:Contract_GroupFilterCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_GroupFilterCondition" nillable="true" type="tns:ArrayOfContract_GroupFilterCondition" />
  <xs:complexType name="Contract_GroupFilterCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConditionOperator" type="xs:int" />
      <xs:element minOccurs="0" name="ConditionParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionType" type="xs:int" />
      <xs:element minOccurs="0" name="GroupFilterConditionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GroupFilterID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_GroupFilterCondition" nillable="true" type="tns:Contract_GroupFilterCondition" />
  <xs:complexType name="ArrayOfContract_AnimeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AnimeGroup" nillable="true" type="tns:Contract_AnimeGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AnimeGroup" nillable="true" type="tns:ArrayOfContract_AnimeGroup" />
  <xs:complexType name="Contract_AnimeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeGroupParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeAddedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFave" type="xs:int" />
      <xs:element minOccurs="0" name="IsManuallyNamed" type="xs:int" />
      <xs:element minOccurs="0" name="MissingEpisodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="MissingEpisodeCountGroups" type="xs:int" />
      <xs:element minOccurs="0" name="OverrideDescription" type="xs:int" />
      <xs:element minOccurs="0" name="PlayedCount" type="xs:int" />
      <xs:element minOccurs="0" name="SortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_AirDate_Max" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stat_AirDate_Min" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stat_AllCategories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_AllTitles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_AllVideoQuality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_AllVideoQuality_Episodes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_AudioLanguages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stat_HasFinishedAiring" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stat_HasMovieDBLink" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stat_HasMovieDBOrTvDBLink" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stat_HasTvDBLink" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stat_IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stat_SeriesCount" type="xs:int" />
      <xs:element minOccurs="0" name="Stat_SeriesCreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Stat_SubtitleLanguages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_UserVoteOverall" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stat_UserVotePermanent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stat_UserVoteTemporary" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StoppedCount" type="xs:int" />
      <xs:element minOccurs="0" name="UnwatchedEpisodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="WatchedCount" type="xs:int" />
      <xs:element minOccurs="0" name="WatchedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchedEpisodeCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeGroup" nillable="true" type="tns:Contract_AnimeGroup" />
  <xs:complexType name="ArrayOfContract_GroupFilterExtended">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_GroupFilterExtended" nillable="true" type="tns:Contract_GroupFilterExtended" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_GroupFilterExtended" nillable="true" type="tns:ArrayOfContract_GroupFilterExtended" />
  <xs:complexType name="ArrayOfContract_AnimeSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AnimeSeries" nillable="true" type="tns:Contract_AnimeSeries" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AnimeSeries" nillable="true" type="tns:ArrayOfContract_AnimeSeries" />
  <xs:complexType name="Contract_AnimeSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="AniDBAnime" nillable="true" type="tns:Contract_AniDBAnime" />
      <xs:element minOccurs="0" name="AniDB_ID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeSeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRefAniDBMovieDB" nillable="true" type="tns:Contract_CrossRef_AniDB_Other" />
      <xs:element minOccurs="0" name="CrossRefAniDBTvDB" nillable="true" type="tns:Contract_CrossRef_AniDB_TvDB" />
      <xs:element minOccurs="0" name="DateTimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DefaultAudioLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultSubtitleLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeAddedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LatestLocalEpisodeNumber" type="xs:int" />
      <xs:element minOccurs="0" name="MissingEpisodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="MissingEpisodeCountGroups" type="xs:int" />
      <xs:element minOccurs="0" name="PlayedCount" type="xs:int" />
      <xs:element minOccurs="0" name="StoppedCount" type="xs:int" />
      <xs:element minOccurs="0" name="UnwatchedEpisodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="WatchedCount" type="xs:int" />
      <xs:element minOccurs="0" name="WatchedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchedEpisodeCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeSeries" nillable="true" type="tns:Contract_AnimeSeries" />
  <xs:complexType name="Contract_AniDBAnime">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANNID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AirDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AllCategories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllCinemaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AllTags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllTitles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeNfo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AnimePlanetID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeType" type="xs:int" />
      <xs:element minOccurs="0" name="AvgReviewRating" type="xs:int" />
      <xs:element minOccurs="0" name="AwardList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginYear" type="xs:int" />
      <xs:element minOccurs="0" name="DateTimeDescUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DefaultImageFanart" nillable="true" type="tns:Contract_AniDB_Anime_DefaultImage" />
      <xs:element minOccurs="0" name="DefaultImagePoster" nillable="true" type="tns:Contract_AniDB_Anime_DefaultImage" />
      <xs:element minOccurs="0" name="DefaultImageWideBanner" nillable="true" type="tns:Contract_AniDB_Anime_DefaultImage" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndYear" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeCountNormal" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeCountSpecial" type="xs:int" />
      <xs:element minOccurs="0" name="FormattedTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageEnabled" type="xs:int" />
      <xs:element minOccurs="0" name="LatestEpisodeNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MainTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="Restricted" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewCount" type="xs:int" />
      <xs:element minOccurs="0" name="TempRating" type="xs:int" />
      <xs:element minOccurs="0" name="TempVoteCount" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoteCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AniDBAnime" nillable="true" type="tns:Contract_AniDBAnime" />
  <xs:complexType name="Contract_AniDB_Anime_DefaultImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AniDB_Anime_DefaultImageID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageParentID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageParentType" type="xs:int" />
      <xs:element minOccurs="0" name="ImageType" type="xs:int" />
      <xs:element minOccurs="0" name="MovieFanart" nillable="true" type="tns:Contract_MovieDB_Fanart" />
      <xs:element minOccurs="0" name="MoviePoster" nillable="true" type="tns:Contract_MovieDB_Poster" />
      <xs:element minOccurs="0" name="TVFanart" nillable="true" type="tns:Contract_TvDB_ImageFanart" />
      <xs:element minOccurs="0" name="TVPoster" nillable="true" type="tns:Contract_TvDB_ImagePoster" />
      <xs:element minOccurs="0" name="TVWideBanner" nillable="true" type="tns:Contract_TvDB_ImageWideBanner" />
      <xs:element minOccurs="0" name="TraktFanart" nillable="true" type="tns:Contract_Trakt_ImageFanart" />
      <xs:element minOccurs="0" name="TraktPoster" nillable="true" type="tns:Contract_Trakt_ImagePoster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AniDB_Anime_DefaultImage" nillable="true" type="tns:Contract_AniDB_Anime_DefaultImage" />
  <xs:complexType name="Contract_MovieDB_Fanart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="ImageHeight" type="xs:int" />
      <xs:element minOccurs="0" name="ImageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageWidth" type="xs:int" />
      <xs:element minOccurs="0" name="MovieDB_FanartID" type="xs:int" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_MovieDB_Fanart" nillable="true" type="tns:Contract_MovieDB_Fanart" />
  <xs:complexType name="Contract_MovieDB_Poster">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="ImageHeight" type="xs:int" />
      <xs:element minOccurs="0" name="ImageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageWidth" type="xs:int" />
      <xs:element minOccurs="0" name="MovieDB_PosterID" type="xs:int" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_MovieDB_Poster" nillable="true" type="tns:Contract_MovieDB_Poster" />
  <xs:complexType name="Contract_TvDB_ImageFanart">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerType2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chosen" type="xs:int" />
      <xs:element minOccurs="0" name="Colors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="ThumbnailPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TvDB_ImageFanartID" type="xs:int" />
      <xs:element minOccurs="0" name="VignettePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_TvDB_ImageFanart" nillable="true" type="tns:Contract_TvDB_ImageFanart" />
  <xs:complexType name="Contract_TvDB_ImagePoster">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerType2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="TvDB_ImagePosterID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_TvDB_ImagePoster" nillable="true" type="tns:Contract_TvDB_ImagePoster" />
  <xs:complexType name="Contract_TvDB_ImageWideBanner">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerType2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="TvDB_ImageWideBannerID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_TvDB_ImageWideBanner" nillable="true" type="tns:Contract_TvDB_ImageWideBanner" />
  <xs:complexType name="Contract_Trakt_ImageFanart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Season" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_ImageFanartID" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_ShowID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Trakt_ImageFanart" nillable="true" type="tns:Contract_Trakt_ImageFanart" />
  <xs:complexType name="Contract_Trakt_ImagePoster">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Season" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_ImagePosterID" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_ShowID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Trakt_ImagePoster" nillable="true" type="tns:Contract_Trakt_ImagePoster" />
  <xs:complexType name="Contract_CrossRef_AniDB_Other">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossRefSource" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRefType" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRef_AniDB_OtherID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_CrossRef_AniDB_Other" nillable="true" type="tns:Contract_CrossRef_AniDB_Other" />
  <xs:complexType name="Contract_CrossRef_AniDB_TvDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRefSource" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRef_AniDB_TvDBID" type="xs:int" />
      <xs:element minOccurs="0" name="TvDBID" type="xs:int" />
      <xs:element minOccurs="0" name="TvDBSeasonNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_CrossRef_AniDB_TvDB" nillable="true" type="tns:Contract_CrossRef_AniDB_TvDB" />
  <xs:complexType name="ArrayOfContract_MovieDB_Poster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_MovieDB_Poster" nillable="true" type="tns:Contract_MovieDB_Poster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_MovieDB_Poster" nillable="true" type="tns:ArrayOfContract_MovieDB_Poster" />
  <xs:complexType name="ArrayOfContract_MovieDB_Fanart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_MovieDB_Fanart" nillable="true" type="tns:Contract_MovieDB_Fanart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_MovieDB_Fanart" nillable="true" type="tns:ArrayOfContract_MovieDB_Fanart" />
  <xs:complexType name="Contract_AnimeEpisode">
    <xs:sequence>
      <xs:element minOccurs="0" name="AniDB_AirDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AniDB_EnglishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_EpisodeID" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_LengthSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_RomajiName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_Votes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnimeEpisodeID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeSeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EpisodeNameEnglish" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNameRomaji" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeType" type="xs:int" />
      <xs:element minOccurs="0" name="IsWatched" type="xs:int" />
      <xs:element minOccurs="0" name="LocalFileCount" type="xs:int" />
      <xs:element minOccurs="0" name="PlayedCount" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseGroups" nillable="true" type="tns:ArrayOfContract_AniDBReleaseGroup" />
      <xs:element minOccurs="0" name="StoppedCount" type="xs:int" />
      <xs:element minOccurs="0" name="WatchedCount" type="xs:int" />
      <xs:element minOccurs="0" name="WatchedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeEpisode" nillable="true" type="tns:Contract_AnimeEpisode" />
  <xs:complexType name="ArrayOfContract_AniDBReleaseGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AniDBReleaseGroup" nillable="true" type="tns:Contract_AniDBReleaseGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AniDBReleaseGroup" nillable="true" type="tns:ArrayOfContract_AniDBReleaseGroup" />
  <xs:complexType name="Contract_AniDBReleaseGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AniDBReleaseGroup" nillable="true" type="tns:Contract_AniDBReleaseGroup" />
  <xs:complexType name="ArrayOfContract_AnimeEpisode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AnimeEpisode" nillable="true" type="tns:Contract_AnimeEpisode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AnimeEpisode" nillable="true" type="tns:ArrayOfContract_AnimeEpisode" />
  <xs:complexType name="ArrayOfContract_AniDBAnime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AniDBAnime" nillable="true" type="tns:Contract_AniDBAnime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AniDBAnime" nillable="true" type="tns:ArrayOfContract_AniDBAnime" />
  <xs:complexType name="ArrayOfContract_JMMUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_JMMUser" nillable="true" type="tns:Contract_JMMUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_JMMUser" nillable="true" type="tns:ArrayOfContract_JMMUser" />
  <xs:complexType name="Contract_JMMUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="HideCategories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:int" />
      <xs:element minOccurs="0" name="IsAniDBUser" type="xs:int" />
      <xs:element minOccurs="0" name="IsTraktUser" type="xs:int" />
      <xs:element minOccurs="0" name="JMMUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_JMMUser" nillable="true" type="tns:Contract_JMMUser" />
  <xs:complexType name="ArrayOfContract_Trakt_ImageFanart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Trakt_ImageFanart" nillable="true" type="tns:Contract_Trakt_ImageFanart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Trakt_ImageFanart" nillable="true" type="tns:ArrayOfContract_Trakt_ImageFanart" />
  <xs:complexType name="ArrayOfContract_Trakt_ImagePoster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Trakt_ImagePoster" nillable="true" type="tns:Contract_Trakt_ImagePoster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Trakt_ImagePoster" nillable="true" type="tns:ArrayOfContract_Trakt_ImagePoster" />
  <xs:complexType name="ArrayOfContract_Trakt_Episode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Trakt_Episode" nillable="true" type="tns:Contract_Trakt_Episode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Trakt_Episode" nillable="true" type="tns:ArrayOfContract_Trakt_Episode" />
  <xs:complexType name="Contract_Trakt_Episode">
    <xs:sequence>
      <xs:element minOccurs="0" name="EpisodeImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Season" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trakt_EpisodeID" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_ShowID" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Trakt_Episode" nillable="true" type="tns:Contract_Trakt_Episode" />
  <xs:complexType name="Contract_CrossRef_AniDB_TraktResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminApproved" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraktID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraktSeasonNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_CrossRef_AniDB_TraktResult" nillable="true" type="tns:Contract_CrossRef_AniDB_TraktResult" />
  <xs:complexType name="Contract_CrossRef_AniDB_Trakt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRefSource" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRef_AniDB_TraktID" type="xs:int" />
      <xs:element minOccurs="0" name="TraktID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraktSeasonNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_CrossRef_AniDB_Trakt" nillable="true" type="tns:Contract_CrossRef_AniDB_Trakt" />
  <xs:complexType name="ArrayOfContract_TraktTVShowResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_TraktTVShowResponse" nillable="true" type="tns:Contract_TraktTVShowResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_TraktTVShowResponse" nillable="true" type="tns:ArrayOfContract_TraktTVShowResponse" />
  <xs:complexType name="Contract_TraktTVShowResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_aired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tvdb_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_TraktTVShowResponse" nillable="true" type="tns:Contract_TraktTVShowResponse" />
  <xs:complexType name="ArrayOfContract_DuplicateFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_DuplicateFile" nillable="true" type="tns:Contract_DuplicateFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_DuplicateFile" nillable="true" type="tns:ArrayOfContract_DuplicateFile" />
  <xs:complexType name="Contract_DuplicateFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DuplicateFileID" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FilePathFile1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePathFile2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportFolder1" nillable="true" type="tns:Contract_ImportFolder" />
      <xs:element minOccurs="0" name="ImportFolder2" nillable="true" type="tns:Contract_ImportFolder" />
      <xs:element minOccurs="0" name="ImportFolderIDFile1" type="xs:int" />
      <xs:element minOccurs="0" name="ImportFolderIDFile2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_DuplicateFile" nillable="true" type="tns:Contract_DuplicateFile" />
  <xs:complexType name="Contract_ImportFolder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportFolderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImportFolderLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportFolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportFolderType" type="xs:int" />
      <xs:element minOccurs="0" name="IsDropDestination" type="xs:int" />
      <xs:element minOccurs="0" name="IsDropSource" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_ImportFolder" nillable="true" type="tns:Contract_ImportFolder" />
  <xs:complexType name="ArrayOfContract_VideoLocal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_VideoLocal" nillable="true" type="tns:Contract_VideoLocal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_VideoLocal" nillable="true" type="tns:ArrayOfContract_VideoLocal" />
  <xs:complexType name="Contract_VideoLocal">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRC32" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTimeUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HashSource" type="xs:int" />
      <xs:element minOccurs="0" name="ImportFolder" nillable="true" type="tns:Contract_ImportFolder" />
      <xs:element minOccurs="0" name="ImportFolderID" type="xs:int" />
      <xs:element minOccurs="0" name="IsIgnored" type="xs:int" />
      <xs:element minOccurs="0" name="IsWatched" type="xs:int" />
      <xs:element minOccurs="0" name="MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHA1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoLocalID" type="xs:int" />
      <xs:element minOccurs="0" name="WatchedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_VideoLocal" nillable="true" type="tns:Contract_VideoLocal" />
  <xs:complexType name="ArrayOfContract_GroupVideoQuality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_GroupVideoQuality" nillable="true" type="tns:Contract_GroupVideoQuality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_GroupVideoQuality" nillable="true" type="tns:ArrayOfContract_GroupVideoQuality" />
  <xs:complexType name="Contract_GroupVideoQuality">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileCountNormal" type="xs:int" />
      <xs:element minOccurs="0" name="FileCountSpecials" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupNameShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NormalComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ranking" type="xs:int" />
      <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="VideoSource" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_GroupVideoQuality" nillable="true" type="tns:Contract_GroupVideoQuality" />
  <xs:complexType name="ArrayOfContract_VideoDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_VideoDetailed" nillable="true" type="tns:Contract_VideoDetailed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_VideoDetailed" nillable="true" type="tns:ArrayOfContract_VideoDetailed" />
  <xs:complexType name="Contract_VideoDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" name="AniDB_AnimeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_Anime_GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_Anime_GroupNameShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_CRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_Episode_Rating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_Episode_Votes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_FileID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_File_AudioCodec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_File_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_File_FileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_File_LengthSeconds" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_File_ReleaseDate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_File_Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_File_VideoCodec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_File_VideoResolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_GroupID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_SHA1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnimeEpisodeID" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRefSource" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ImportFolderID" type="xs:int" />
      <xs:element minOccurs="0" name="ImportFolderLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportFolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguagesAudio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguagesSubtitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percentage" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseGroup" nillable="true" type="tns:Contract_ReleaseGroup" />
      <xs:element minOccurs="0" name="VideoInfo_AudioBitrate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoInfo_AudioCodec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoInfo_Duration" type="xs:long" />
      <xs:element minOccurs="0" name="VideoInfo_VideoBitrate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoInfo_VideoCodec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoInfo_VideoFrameRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoInfo_VideoInfoID" type="xs:int" />
      <xs:element minOccurs="0" name="VideoInfo_VideoResolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoLocalID" type="xs:int" />
      <xs:element minOccurs="0" name="VideoLocal_FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoLocal_FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="VideoLocal_Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoLocal_IsIgnored" type="xs:int" />
      <xs:element minOccurs="0" name="VideoLocal_IsWatched" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_VideoDetailed" nillable="true" type="tns:Contract_VideoDetailed" />
  <xs:complexType name="Contract_ReleaseGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeCount" type="xs:int" />
      <xs:element minOccurs="0" name="FileCount" type="xs:int" />
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupNameShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRCChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRCServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_ReleaseGroup" nillable="true" type="tns:Contract_ReleaseGroup" />
  <xs:complexType name="Contract_AniDB_AnimeCrossRefs">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRef_AniDB_MovieDB" nillable="true" type="tns:Contract_CrossRef_AniDB_Other" />
      <xs:element minOccurs="0" name="CrossRef_AniDB_Trakt" nillable="true" type="tns:Contract_CrossRef_AniDB_Trakt" />
      <xs:element minOccurs="0" name="CrossRef_AniDB_TvDB" nillable="true" type="tns:Contract_CrossRef_AniDB_TvDB" />
      <xs:element minOccurs="0" name="MovieDBFanarts" nillable="true" type="tns:ArrayOfContract_MovieDB_Fanart" />
      <xs:element minOccurs="0" name="MovieDBMovie" nillable="true" type="tns:Contract_MovieDB_Movie" />
      <xs:element minOccurs="0" name="MovieDBPosters" nillable="true" type="tns:ArrayOfContract_MovieDB_Poster" />
      <xs:element minOccurs="0" name="TraktImageFanart" nillable="true" type="tns:Contract_Trakt_ImageFanart" />
      <xs:element minOccurs="0" name="TraktImagePoster" nillable="true" type="tns:Contract_Trakt_ImagePoster" />
      <xs:element minOccurs="0" name="TraktShow" nillable="true" type="tns:Contract_Trakt_Show" />
      <xs:element minOccurs="0" name="TvDBEpisodes" nillable="true" type="tns:ArrayOfContract_TvDB_Episode" />
      <xs:element minOccurs="0" name="TvDBImageFanarts" nillable="true" type="tns:ArrayOfContract_TvDB_ImageFanart" />
      <xs:element minOccurs="0" name="TvDBImagePosters" nillable="true" type="tns:ArrayOfContract_TvDB_ImagePoster" />
      <xs:element minOccurs="0" name="TvDBImageWideBanners" nillable="true" type="tns:ArrayOfContract_TvDB_ImageWideBanner" />
      <xs:element minOccurs="0" name="TvDBSeries" nillable="true" type="tns:Contract_TvDB_Series" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AniDB_AnimeCrossRefs" nillable="true" type="tns:Contract_AniDB_AnimeCrossRefs" />
  <xs:complexType name="Contract_MovieDB_Movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovieDB_MovieID" type="xs:int" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="MovieName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_MovieDB_Movie" nillable="true" type="tns:Contract_MovieDB_Movie" />
  <xs:complexType name="Contract_Trakt_Show">
    <xs:sequence>
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seasons" nillable="true" type="tns:ArrayOfContract_Trakt_Season" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraktID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trakt_ShowID" type="xs:int" />
      <xs:element minOccurs="0" name="TvDB_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Trakt_Show" nillable="true" type="tns:Contract_Trakt_Show" />
  <xs:complexType name="ArrayOfContract_Trakt_Season">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_Trakt_Season" nillable="true" type="tns:Contract_Trakt_Season" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_Trakt_Season" nillable="true" type="tns:ArrayOfContract_Trakt_Season" />
  <xs:complexType name="Contract_Trakt_Season">
    <xs:sequence>
      <xs:element minOccurs="0" name="Episodes" nillable="true" type="tns:ArrayOfContract_Trakt_Episode" />
      <xs:element minOccurs="0" name="Season" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_SeasonID" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_ShowID" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_Trakt_Season" nillable="true" type="tns:Contract_Trakt_Season" />
  <xs:complexType name="ArrayOfContract_TvDB_Episode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_TvDB_Episode" nillable="true" type="tns:Contract_TvDB_Episode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_TvDB_Episode" nillable="true" type="tns:ArrayOfContract_TvDB_Episode" />
  <xs:complexType name="Contract_TvDB_Episode">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsoluteNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AirsAfterSeason" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AirsBeforeEpisode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AirsBeforeSeason" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EpImgFlag" type="xs:int" />
      <xs:element minOccurs="0" name="EpisodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonID" type="xs:int" />
      <xs:element minOccurs="0" name="SeasonNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="TvDB_EpisodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_TvDB_Episode" nillable="true" type="tns:Contract_TvDB_Episode" />
  <xs:complexType name="ArrayOfContract_TvDB_ImageFanart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_TvDB_ImageFanart" nillable="true" type="tns:Contract_TvDB_ImageFanart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_TvDB_ImageFanart" nillable="true" type="tns:ArrayOfContract_TvDB_ImageFanart" />
  <xs:complexType name="ArrayOfContract_TvDB_ImagePoster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_TvDB_ImagePoster" nillable="true" type="tns:Contract_TvDB_ImagePoster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_TvDB_ImagePoster" nillable="true" type="tns:ArrayOfContract_TvDB_ImagePoster" />
  <xs:complexType name="ArrayOfContract_TvDB_ImageWideBanner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_TvDB_ImageWideBanner" nillable="true" type="tns:Contract_TvDB_ImageWideBanner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_TvDB_ImageWideBanner" nillable="true" type="tns:ArrayOfContract_TvDB_ImageWideBanner" />
  <xs:complexType name="Contract_TvDB_Series">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fanart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastupdated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TvDB_SeriesID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_TvDB_Series" nillable="true" type="tns:Contract_TvDB_Series" />
  <xs:complexType name="Contract_CrossRef_AniDB_TvDBResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminApproved" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TvDBID" type="xs:int" />
      <xs:element minOccurs="0" name="TvDBSeasonNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_CrossRef_AniDB_TvDBResult" nillable="true" type="tns:Contract_CrossRef_AniDB_TvDBResult" />
  <xs:complexType name="ArrayOfContract_TVDBSeriesSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_TVDBSeriesSearchResult" nillable="true" type="tns:Contract_TVDBSeriesSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_TVDBSeriesSearchResult" nillable="true" type="tns:ArrayOfContract_TVDBSeriesSearchResult" />
  <xs:complexType name="Contract_TVDBSeriesSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesID" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_TVDBSeriesSearchResult" nillable="true" type="tns:Contract_TVDBSeriesSearchResult" />
  <xs:complexType name="Contract_CrossRef_AniDB_OtherResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="CrossRefID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_CrossRef_AniDB_OtherResult" nillable="true" type="tns:Contract_CrossRef_AniDB_OtherResult" />
  <xs:complexType name="ArrayOfContract_MovieDBMovieSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_MovieDBMovieSearchResult" nillable="true" type="tns:Contract_MovieDBMovieSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_MovieDBMovieSearchResult" nillable="true" type="tns:ArrayOfContract_MovieDBMovieSearchResult" />
  <xs:complexType name="Contract_MovieDBMovieSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovieID" type="xs:int" />
      <xs:element minOccurs="0" name="MovieName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_MovieDBMovieSearchResult" nillable="true" type="tns:Contract_MovieDBMovieSearchResult" />
  <xs:complexType name="Contract_ServerSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AniDB_Anime_UpdateFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_Calendar_UpdateFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_ClientPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_DownloadCharactersCreators" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_DownloadRelatedAnime" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_DownloadReleaseGroups" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_DownloadReviews" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_DownloadSimilarAnime" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_MyList_AddFiles" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_MyList_ReadUnwatched" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_MyList_ReadWatched" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_MyList_SetUnwatched" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_MyList_SetWatched" type="xs:boolean" />
      <xs:element minOccurs="0" name="AniDB_MyList_StorageState" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_MyList_UpdateFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="AniDB_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_ServerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_ServerPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniDB_Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash_CRC32" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hash_MD5" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hash_SHA1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Import_UseExistingFileWatchedStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguagePreference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageUseSynonyms" type="xs:boolean" />
      <xs:element minOccurs="0" name="MovieDB_AutoFanart" type="xs:boolean" />
      <xs:element minOccurs="0" name="MovieDB_AutoFanartAmount" type="xs:int" />
      <xs:element minOccurs="0" name="MovieDB_AutoPosters" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunImportOnStart" type="xs:boolean" />
      <xs:element minOccurs="0" name="Trakt_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trakt_SyncFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_UpdateFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="Trakt_Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TvDB_AutoFanart" type="xs:boolean" />
      <xs:element minOccurs="0" name="TvDB_AutoFanartAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TvDB_AutoPosters" type="xs:boolean" />
      <xs:element minOccurs="0" name="TvDB_AutoWideBanners" type="xs:boolean" />
      <xs:element minOccurs="0" name="TvDB_UpdateFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="VideoExtensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WatchForNewFiles" type="xs:boolean" />
      <xs:element minOccurs="0" name="WebCache_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebCache_Anonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="WebCache_FileHashes_Get" type="xs:boolean" />
      <xs:element minOccurs="0" name="WebCache_FileHashes_Send" type="xs:boolean" />
      <xs:element minOccurs="0" name="WebCache_TvDB_Get" type="xs:boolean" />
      <xs:element minOccurs="0" name="WebCache_TvDB_Send" type="xs:boolean" />
      <xs:element minOccurs="0" name="WebCache_XRefFileEpisode_Get" type="xs:boolean" />
      <xs:element minOccurs="0" name="WebCache_XRefFileEpisode_Send" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_ServerSettings" nillable="true" type="tns:Contract_ServerSettings" />
  <xs:complexType name="Contract_ServerSettings_SaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_ServerSettings_SaveResponse" nillable="true" type="tns:Contract_ServerSettings_SaveResponse" />
  <xs:complexType name="Contract_ToggleWatchedStatusOnEpisode_Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeEpisode" nillable="true" type="tns:Contract_AnimeEpisode" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_ToggleWatchedStatusOnEpisode_Response" nillable="true" type="tns:Contract_ToggleWatchedStatusOnEpisode_Response" />
  <xs:complexType name="Contract_ImportFolder_SaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportFolder" nillable="true" type="tns:Contract_ImportFolder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_ImportFolder_SaveResponse" nillable="true" type="tns:Contract_ImportFolder_SaveResponse" />
  <xs:complexType name="ArrayOfContract_GroupFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_GroupFilter" nillable="true" type="tns:Contract_GroupFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_GroupFilter" nillable="true" type="tns:ArrayOfContract_GroupFilter" />
  <xs:complexType name="Contract_GroupFilter_SaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupFilter" nillable="true" type="tns:Contract_GroupFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_GroupFilter_SaveResponse" nillable="true" type="tns:Contract_GroupFilter_SaveResponse" />
  <xs:complexType name="Contract_AnimeSeries_SaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeSeries" nillable="true" type="tns:Contract_AnimeSeries" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeSeries_SaveResponse" nillable="true" type="tns:Contract_AnimeSeries_SaveResponse" />
  <xs:complexType name="Contract_AnimeGroup_Save">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeGroupID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeGroupParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFave" type="xs:int" />
      <xs:element minOccurs="0" name="IsManuallyNamed" type="xs:int" />
      <xs:element minOccurs="0" name="OverrideDescription" type="xs:int" />
      <xs:element minOccurs="0" name="SortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeGroup_Save" nillable="true" type="tns:Contract_AnimeGroup_Save" />
  <xs:complexType name="Contract_AnimeGroup_SaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeGroup" nillable="true" type="tns:Contract_AnimeGroup" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeGroup_SaveResponse" nillable="true" type="tns:Contract_AnimeGroup_SaveResponse" />
  <xs:complexType name="Contract_AnimeSeries_Save">
    <xs:sequence>
      <xs:element minOccurs="0" name="AniDB_ID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="AnimeSeriesID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultAudioLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultSubtitleLanguage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeSeries_Save" nillable="true" type="tns:Contract_AnimeSeries_Save" />
  <xs:complexType name="ArrayOfContract_AniDB_AnimeDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AniDB_AnimeDetailed" nillable="true" type="tns:Contract_AniDB_AnimeDetailed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AniDB_AnimeDetailed" nillable="true" type="tns:ArrayOfContract_AniDB_AnimeDetailed" />
  <xs:complexType name="Contract_AniDB_AnimeDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" name="AniDBAnime" nillable="true" type="tns:Contract_AniDBAnime" />
      <xs:element minOccurs="0" name="AnimeTitles" nillable="true" type="tns:ArrayOfContract_AnimeTitle" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfContract_AnimeCategory" />
      <xs:element minOccurs="0" name="Stat_AllVideoQuality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_AllVideoQuality_Episodes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_AudioLanguages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat_SubtitleLanguages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfContract_AnimeTag" />
      <xs:element minOccurs="0" name="UserVote" nillable="true" type="tns:Contract_AniDBVote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AniDB_AnimeDetailed" nillable="true" type="tns:Contract_AniDB_AnimeDetailed" />
  <xs:complexType name="ArrayOfContract_AnimeTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AnimeTitle" nillable="true" type="tns:Contract_AnimeTitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AnimeTitle" nillable="true" type="tns:ArrayOfContract_AnimeTitle" />
  <xs:complexType name="Contract_AnimeTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeTitle" nillable="true" type="tns:Contract_AnimeTitle" />
  <xs:complexType name="ArrayOfContract_AnimeCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AnimeCategory" nillable="true" type="tns:Contract_AnimeCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AnimeCategory" nillable="true" type="tns:ArrayOfContract_AnimeCategory" />
  <xs:complexType name="Contract_AnimeCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHentai" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="Weighting" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeCategory" nillable="true" type="tns:Contract_AnimeCategory" />
  <xs:complexType name="ArrayOfContract_AnimeTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_AnimeTag" nillable="true" type="tns:Contract_AnimeTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_AnimeTag" nillable="true" type="tns:ArrayOfContract_AnimeTag" />
  <xs:complexType name="Contract_AnimeTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Approval" type="xs:int" />
      <xs:element minOccurs="0" name="GlobalSpoiler" type="xs:int" />
      <xs:element minOccurs="0" name="LocalSpoiler" type="xs:int" />
      <xs:element minOccurs="0" name="Spoiler" type="xs:int" />
      <xs:element minOccurs="0" name="TagCount" type="xs:int" />
      <xs:element minOccurs="0" name="TagDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagID" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AnimeTag" nillable="true" type="tns:Contract_AnimeTag" />
  <xs:complexType name="Contract_AniDBVote">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="VoteType" type="xs:int" />
      <xs:element minOccurs="0" name="VoteValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_AniDBVote" nillable="true" type="tns:Contract_AniDBVote" />
  <xs:complexType name="ArrayOfContract_ImportFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract_ImportFolder" nillable="true" type="tns:Contract_ImportFolder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract_ImportFolder" nillable="true" type="tns:ArrayOfContract_ImportFolder" />
  <xs:complexType name="Contract_ServerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BanReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralQueueCount" type="xs:int" />
      <xs:element minOccurs="0" name="GeneralQueueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HashQueueCount" type="xs:int" />
      <xs:element minOccurs="0" name="HashQueueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagesQueueCount" type="xs:int" />
      <xs:element minOccurs="0" name="ImagesQueueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBanned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract_ServerStatus" nillable="true" type="tns:Contract_ServerStatus" />
</xs:schema>