JMMClient/Service References/JMMServerBinary/JMMServerBinary3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8111/JMMServerBinary?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JMMContracts" />
  <xs:import schemaLocation="http://localhost:8111/JMMServerBinary?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ScanDropFolders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanDropFoldersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshAllMediaInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshAllMediaInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTraktAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTraktAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTraktAccountResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraktFriendRequestDeny">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraktFriendRequestDenyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraktFriendRequestDenyResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraktFriendRequestApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraktFriendRequestApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraktFriendRequestApproveResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktShoutsForAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktShoutsForAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTraktShoutsForAnimeResult" nillable="true" type="q1:ArrayOfContract_Trakt_ShoutUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostShoutShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="shoutText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSpoiler" type="xs:boolean" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostShoutShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostShoutShowResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="returnMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTraktFriendInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTraktFriendInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopLevelGroupForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopLevelGroupForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTopLevelGroupForSeriesResult" nillable="true" type="q2:Contract_AnimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesRecentlyWatched">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="jmmuserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesRecentlyWatchedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetEpisodesRecentlyWatchedResult" nillable="true" type="q3:ArrayOfContract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMAL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SearchMALResult" nillable="true" type="q4:ArrayOfContract_MALAnimeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMALLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMALLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestMALLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMALCrossRefWebCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMALCrossRefWebCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetMALCrossRefWebCacheResult" nillable="true" type="q5:ArrayOfContract_CrossRef_AniDB_MALResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBMAL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="malID" type="xs:int" />
        <xs:element minOccurs="0" name="malTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="epType" type="xs:int" />
        <xs:element minOccurs="0" name="epNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBMALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkAniDBMALResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBMAL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="epType" type="xs:int" />
        <xs:element minOccurs="0" name="epNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBMALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveLinkAniDBMALResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBMALUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="malID" type="xs:int" />
        <xs:element minOccurs="0" name="malTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldEpType" type="xs:int" />
        <xs:element minOccurs="0" name="oldEpNumber" type="xs:int" />
        <xs:element minOccurs="0" name="newEpType" type="xs:int" />
        <xs:element minOccurs="0" name="newEpNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBMALUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkAniDBMALUpdatedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupFilterExtended">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupFilterID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupFilterExtendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetGroupFilterExtendedResult" nillable="true" type="q6:Contract_GroupFilterExtended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimeGroupsForFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupFilterID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimeGroupsForFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAnimeGroupsForFilterResult" nillable="true" type="q7:ArrayOfContract_AnimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupFiltersExtended">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupFiltersExtendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllGroupFiltersExtendedResult" nillable="true" type="q8:ArrayOfContract_GroupFilterExtended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubGroupsForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubGroupsForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSubGroupsForGroupResult" nillable="true" type="q9:ArrayOfContract_AnimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesForGroupRecursive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesForGroupRecursiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSeriesForGroupRecursiveResult" nillable="true" type="q10:ArrayOfContract_AnimeSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesExistingForAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesExistingForAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSeriesExistingForAnimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimilarAnimeLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimilarAnimeLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSimilarAnimeLinksResult" nillable="true" type="q11:ArrayOfContract_AniDB_Anime_Similar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedAnimeLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedAnimeLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetRelatedAnimeLinksResult" nillable="true" type="q12:ArrayOfContract_AniDB_Anime_Relation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="recommendationType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetRecommendationsResult" nillable="true" type="q13:ArrayOfContract_Recommendation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseGroupsForAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseGroupsForAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetReleaseGroupsForAnimeResult" nillable="true" type="q14:ArrayOfContract_AniDBReleaseGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimeForMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jmmuserID" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimeForMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAnimeForMonthResult" nillable="true" type="q15:ArrayOfContract_AniDBAnime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesForAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesForAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSeriesForAnimeResult" nillable="true" type="q16:Contract_AnimeSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharactersForAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharactersForAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetCharactersForAnimeResult" nillable="true" type="q17:ArrayOfContract_AniDB_Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceAddFileToMyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceAddFileToMyListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyListFilesForRemoval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyListFilesForRemovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetMyListFilesForRemovalResult" nillable="true" type="q18:ArrayOfContract_MissingFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMissingMyListFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="myListFiles" nillable="true" type="q19:ArrayOfContract_MissingFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMissingMyListFilesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesWithoutAnyFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesWithoutAnyFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSeriesWithoutAnyFilesResult" nillable="true" type="q20:ArrayOfContract_AnimeSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileFromMyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileFromMyListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingEpisodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="onlyMyGroups" type="xs:boolean" />
        <xs:element minOccurs="0" name="regularEpisodesOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingEpisodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetMissingEpisodesResult" nillable="true" type="q21:ArrayOfContract_MissingEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IgnoreAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="ignoreType" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IgnoreAnimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktFriendInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="animeOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktFriendInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTraktFriendInfoResult" nillable="true" type="q22:Contract_Trakt_Activity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetUserVoteResult" nillable="true" type="q23:Contract_AniDBVote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementEpisodeStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeEpisodeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="statCountType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementEpisodeStatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIgnoredAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIgnoredAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetIgnoredAnimeResult" nillable="true" type="q24:ArrayOfContract_IgnoreAnime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIgnoreAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ignoreAnimeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIgnoreAnimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultSeriesForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultSeriesForGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDefaultSeriesForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDefaultSeriesForGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvDBLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvDBLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTvDBLanguagesResult" nillable="true" type="q25:ArrayOfContract_TvDBLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBOther">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="movieID" type="xs:int" />
        <xs:element minOccurs="0" name="crossRefType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBOtherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkAniDBOtherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBOther">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="crossRefType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBOtherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveLinkAniDBOtherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieDBPosters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieDBPostersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllMovieDBPostersResult" nillable="true" type="q26:ArrayOfContract_MovieDB_Poster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieDBFanart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieDBFanartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllMovieDBFanartResult" nillable="true" type="q27:ArrayOfContract_MovieDB_Fanart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAnimeResult" nillable="true" type="q28:Contract_AniDBAnime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isDefault" type="xs:boolean" />
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="imageID" type="xs:int" />
        <xs:element minOccurs="0" name="imageType" type="xs:int" />
        <xs:element minOccurs="0" name="imageSizeType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDefaultImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextUnwatchedEpisode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextUnwatchedEpisodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetNextUnwatchedEpisodeResult" nillable="true" type="q29:Contract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextUnwatchedEpisodeForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextUnwatchedEpisodeForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetNextUnwatchedEpisodeForGroupResult" nillable="true" type="q30:Contract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesToWatch_RecentlyWatched">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="jmmuserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesToWatch_RecentlyWatchedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetEpisodesToWatch_RecentlyWatchedResult" nillable="true" type="q31:ArrayOfContract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnimeSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="deleteFiles" type="xs:boolean" />
        <xs:element minOccurs="0" name="deleteParentGroup" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnimeSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAnimeSeriesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnimeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="deleteFiles" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnimeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAnimeGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesWithMissingEpisodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
        <xs:element minOccurs="0" name="jmmuserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesWithMissingEpisodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSeriesWithMissingEpisodesResult" nillable="true" type="q32:ArrayOfContract_AnimeSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMiniCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jmmuserID" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMiniCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetMiniCalendarResult" nillable="true" type="q33:ArrayOfContract_AniDBAnime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q34:ArrayOfContract_JMMUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q35:Contract_JMMUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="user" nillable="true" type="q36:Contract_JMMUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestTraktLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestTraktLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestTraktLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraktFanart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traktShowID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraktFanartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllTraktFanartResult" nillable="true" type="q37:ArrayOfContract_Trakt_ImageFanart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraktPosters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traktShowID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraktPostersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllTraktPostersResult" nillable="true" type="q38:ArrayOfContract_Trakt_ImagePoster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraktEpisodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traktShowID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTraktEpisodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllTraktEpisodesResult" nillable="true" type="q39:ArrayOfContract_Trakt_Episode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktCrossRefWebCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktCrossRefWebCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTraktCrossRefWebCacheResult" nillable="true" type="q40:Contract_CrossRef_AniDB_TraktResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktCrossRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraktCrossRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTraktCrossRefResult" nillable="true" type="q41:Contract_CrossRef_AniDB_Trakt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTraktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SearchTraktResult" nillable="true" type="q42:ArrayOfContract_TraktTVShowResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBTrakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="traktID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seasonNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBTraktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkAniDBTraktResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBTrakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBTraktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveLinkAniDBTraktResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonNumbersForTrakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traktID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonNumbersForTraktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSeasonNumbersForTraktResult" nillable="true" type="q43:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTraktData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traktD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTraktDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTraktDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqueVideoQuality">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqueVideoQualityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllUniqueVideoQualityResult" nillable="true" type="q44:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqueAudioLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqueAudioLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllUniqueAudioLanguagesResult" nillable="true" type="q45:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqueSubtitleLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqueSubtitleLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllUniqueSubtitleLanguagesResult" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDuplicateFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDuplicateFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllDuplicateFilesResult" nillable="true" type="q47:ArrayOfContract_DuplicateFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDuplicateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="duplicateFileID" type="xs:int" />
        <xs:element minOccurs="0" name="fileNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDuplicateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDuplicateFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManuallyLinkedFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManuallyLinkedFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllManuallyLinkedFilesResult" nillable="true" type="q48:ArrayOfContract_VideoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEpisodesWithMultipleFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEpisodesWithMultipleFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllEpisodesWithMultipleFilesResult" nillable="true" type="q49:ArrayOfContract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReevaluateDuplicateFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReevaluateDuplicateFilesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupVideoQualitySummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupVideoQualitySummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetGroupVideoQualitySummaryResult" nillable="true" type="q50:ArrayOfContract_GroupVideoQuality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideoLocalAndFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVideoLocalAndFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVideoLocalAndFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescanUnlinkedFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RescanUnlinkedFilesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesByGroupAndResolution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="relGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="videoSource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="videoBitDepth" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesByGroupAndResolutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetFilesByGroupAndResolutionResult" nillable="true" type="q51:ArrayOfContract_VideoDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossRefDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossRefDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetCrossRefDetailsResult" nillable="true" type="q52:Contract_AniDB_AnimeCrossRefs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVDBCrossRefWebCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVDBCrossRefWebCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTVDBCrossRefWebCacheResult" nillable="true" type="q53:Contract_CrossRef_AniDB_TvDBResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVDBCrossRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVDBCrossRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetTVDBCrossRefResult" nillable="true" type="q54:Contract_CrossRef_AniDB_TvDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTheTvDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTheTvDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SearchTheTvDBResult" nillable="true" type="q55:ArrayOfContract_TVDBSeriesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonNumbersForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seriesID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonNumbersForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSeasonNumbersForSeriesResult" nillable="true" type="q56:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBTvDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="tvDBID" type="xs:int" />
        <xs:element minOccurs="0" name="seasonNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkAniDBTvDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkAniDBTvDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBTvDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinkAniDBTvDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveLinkAniDBTvDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBPosters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tvDBID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBPostersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllTvDBPostersResult" nillable="true" type="q57:ArrayOfContract_TvDB_ImagePoster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBWideBanners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tvDBID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBWideBannersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllTvDBWideBannersResult" nillable="true" type="q58:ArrayOfContract_TvDB_ImageWideBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBFanart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tvDBID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBFanartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllTvDBFanartResult" nillable="true" type="q59:ArrayOfContract_TvDB_ImageFanart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBEpisodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tvDBID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTvDBEpisodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllTvDBEpisodesResult" nillable="true" type="q60:ArrayOfContract_TvDB_Episode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTvDBData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seriesID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTvDBDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTvDBDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableDisableImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
        <xs:element minOccurs="0" name="imageID" type="xs:int" />
        <xs:element minOccurs="0" name="imageType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableDisableImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableDisableImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAnimeCrossRefWebCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="crossRefType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAnimeCrossRefWebCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetOtherAnimeCrossRefWebCacheResult" nillable="true" type="q61:Contract_CrossRef_AniDB_OtherResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAnimeCrossRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="crossRefType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAnimeCrossRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetOtherAnimeCrossRefResult" nillable="true" type="q62:Contract_CrossRef_AniDB_Other" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTheMovieDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTheMovieDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SearchTheMovieDBResult" nillable="true" type="q63:ArrayOfContract_MovieDBMovieSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServerSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="contractIn" nillable="true" type="q64:Contract_ServerSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServerSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SaveServerSettingsResult" nillable="true" type="q65:Contract_ServerSettings_SaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleWatchedStatusOnVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
        <xs:element minOccurs="0" name="watchedStatus" type="xs:boolean" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleWatchedStatusOnVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToggleWatchedStatusOnVideoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleWatchedStatusOnEpisode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeEpisodeID" type="xs:int" />
        <xs:element minOccurs="0" name="watchedStatus" type="xs:boolean" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleWatchedStatusOnEpisodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="ToggleWatchedStatusOnEpisodeResult" nillable="true" type="q66:Contract_ToggleWatchedStatusOnEpisode_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetVideoDetailedResult" nillable="true" type="q67:Contract_VideoDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImportFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="contract" nillable="true" type="q68:Contract_ImportFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImportFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SaveImportFolderResult" nillable="true" type="q69:Contract_ImportFolder_SaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImportFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importFolderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImportFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteImportFolderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSeriesResult" nillable="true" type="q70:Contract_AnimeSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunImport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RunImportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMissingFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMissingFilesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncMyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncMyListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RehashFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RehashFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommandProcessorHasherPaused">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paused" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommandProcessorHasherPausedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommandProcessorGeneralPaused">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paused" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommandProcessorGeneralPausedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommandProcessorImagesPaused">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paused" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommandProcessorImagesPausedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnrecognisedFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnrecognisedFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetUnrecognisedFilesResult" nillable="true" type="q71:ArrayOfContract_VideoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManuallyLinkedFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManuallyLinkedFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetManuallyLinkedFilesResult" nillable="true" type="q72:ArrayOfContract_VideoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIgnoredFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIgnoredFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetIgnoredFilesResult" nillable="true" type="q73:ArrayOfContract_VideoLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAniDBConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAniDBConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestAniDBConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameAllGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenameAllGroupsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupFilters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllGroupFiltersResult" nillable="true" type="q74:ArrayOfContract_GroupFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="contract" nillable="true" type="q75:Contract_GroupFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SaveGroupFilterResult" nillable="true" type="q76:Contract_GroupFilter_SaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupFilterID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupFilterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoryNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoryNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllCategoryNamesResult" nillable="true" type="q77:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importFolderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncVotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncVotesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="voteValue" type="xs:decimal" />
        <xs:element minOccurs="0" name="voteType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteAnimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteAnimeRevoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteAnimeRevokeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWatchedStatusOnSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="watchedStatus" type="xs:boolean" />
        <xs:element minOccurs="0" name="maxEpisodeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="episodeType" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWatchedStatusOnSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetWatchedStatusOnSeriesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForSeriesOld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForSeriesOldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetEpisodesForSeriesOldResult" nillable="true" type="q78:ArrayOfContract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeEpisodeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetEpisodeResult" nillable="true" type="q79:Contract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssociationOnFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
        <xs:element minOccurs="0" name="animeEpisodeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssociationOnFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAssociationOnFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIgnoreStatusOnFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
        <xs:element minOccurs="0" name="isIgnored" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIgnoreStatusOnFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetIgnoreStatusOnFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSeriesFromAnime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
        <xs:element minOccurs="0" name="animeGroupID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSeriesFromAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="CreateSeriesFromAnimeResult" nillable="true" type="q80:Contract_AnimeSeries_SaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnimeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnimeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAnimeDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateSingleFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
        <xs:element minOccurs="0" name="animeEpisodeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateSingleFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssociateSingleFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateSingleFileWithMultipleEpisodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="startEpNum" type="xs:int" />
        <xs:element minOccurs="0" name="endEpNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateSingleFileWithMultipleEpisodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssociateSingleFileWithMultipleEpisodesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateMultipleFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="videoLocalIDs" nillable="true" type="q81:ArrayOfint" />
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="startingEpisodeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="singleEpisode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateMultipleFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssociateMultipleFilesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllGroupsResult" nillable="true" type="q82:ArrayOfContract_AnimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="grp" nillable="true" type="q83:Contract_AnimeGroup_Save" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SaveGroupResult" nillable="true" type="q84:Contract_AnimeGroup_SaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetGroupResult" nillable="true" type="q85:Contract_AnimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsAboveSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsAboveSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllGroupsAboveSeriesResult" nillable="true" type="q86:ArrayOfContract_AnimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsAboveGroupInclusive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupsAboveGroupInclusiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllGroupsAboveGroupInclusiveResult" nillable="true" type="q87:ArrayOfContract_AnimeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllSeriesResult" nillable="true" type="q88:ArrayOfContract_AnimeSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="contract" nillable="true" type="q89:Contract_AnimeSeries_Save" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="SaveSeriesResult" nillable="true" type="q90:Contract_AnimeSeries_SaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="newAnimeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="MoveSeriesResult" nillable="true" type="q91:Contract_AnimeSeries_SaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllAnimeResult" nillable="true" type="q92:ArrayOfContract_AniDBAnime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnimeDetailed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnimeDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAllAnimeDetailedResult" nillable="true" type="q93:ArrayOfContract_AniDB_AnimeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimeDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimeDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetAnimeDetailedResult" nillable="true" type="q94:Contract_AniDB_AnimeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetSeriesForGroupResult" nillable="true" type="q95:ArrayOfContract_AnimeSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animeSeriesID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetEpisodesForSeriesResult" nillable="true" type="q96:ArrayOfContract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoLocalID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetEpisodesForFileResult" nillable="true" type="q97:ArrayOfContract_AnimeEpisode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesForEpisode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="episodeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesForEpisodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetFilesForEpisodeResult" nillable="true" type="q98:ArrayOfContract_VideoDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReleaseGroupsForAniDBEpisode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aniDBEpisodeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReleaseGroupsForAniDBEpisodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetMyReleaseGroupsForAniDBEpisodeResult" nillable="true" type="q99:ArrayOfContract_AniDBReleaseGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportFolders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetImportFoldersResult" nillable="true" type="q100:ArrayOfContract_ImportFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetServerStatusResult" nillable="true" type="q101:Contract_ServerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/JMMContracts" minOccurs="0" name="GetServerSettingsResult" nillable="true" type="q102:Contract_ServerSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>