JMMClient/Service References/JMMImageServer/JMMServiceImplementationImage1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JMMServiceImplementationImage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="httpLargeMessageStream_IJMMServerImage_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8111/JMMServerImage?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8111/JMMServerImage?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJMMServerImage_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IJMMServerImage_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IJMMServerImage_GetImageUsingPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageUsingPath" />
  </wsdl:message>
  <wsdl:message name="IJMMServerImage_GetImageUsingPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageUsingPathResponse" />
  </wsdl:message>
  <wsdl:portType name="IJMMServerImage">
    <wsdl:operation name="GetImage">
      <wsdl:input wsam:Action="http://tempuri.org/IJMMServerImage/GetImage" message="tns:IJMMServerImage_GetImage_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IJMMServerImage/GetImageResponse" message="tns:IJMMServerImage_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageUsingPath">
      <wsdl:input wsam:Action="http://tempuri.org/IJMMServerImage/GetImageUsingPath" message="tns:IJMMServerImage_GetImageUsingPath_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IJMMServerImage/GetImageUsingPathResponse" message="tns:IJMMServerImage_GetImageUsingPath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpLargeMessageStream_IJMMServerImage" type="tns:IJMMServerImage">
    <wsp:PolicyReference URI="#httpLargeMessageStream_IJMMServerImage_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IJMMServerImage/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageUsingPath">
      <soap:operation soapAction="http://tempuri.org/IJMMServerImage/GetImageUsingPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JMMServiceImplementationImage">
    <wsdl:port name="httpLargeMessageStream_IJMMServerImage" binding="tns:httpLargeMessageStream_IJMMServerImage">
      <soap:address location="http://localhost:8111/JMMServerImage" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>